<html lang="ru">
{% extends "base.html" %}
{% block title %} Страница с информацией об Авторе {% endblock %}
{% block header %} Добрый день. Меня зовут Сергей, я изучаю курсы программирования Python. {% endblock %}
{% block content%}
    <p align="justify"> Здесь в ссылках содержится вся  информация обо мне.
    <br><a href="URL">https://github.com/Shisui4 </a>
    <br><a href="URL"> https://vk.com/shisui4 </a>
    <br><a href="URL"> https://www.instagram.com/dash_s4s </a>
    </p>

{% endblock %}
    </body>
</html>