<html lang="ru">
{% extends "base.html" %}
{% block title %} Страница с информацией об Авторе {% endblock %}
{% block header %} Добрый день. Меня зовут Сергей, я изучаю курсы программирования Python. {% endblock %}
{% block content%}
    <p> Сейчас я тестирую  эту страницу и пытаюсь её подключить))
    <br>Так же использую пока только подавал, мб. в дальнейшем подключу заголовки и картинки.</p>
    <br><span style="color:red">Сейчас сроки поджимают,
    в связи с этим  я закончу этот блок в свободное время)))</span>

{% endblock %}
    </body>
</html>