{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% block content %}
<main role="main" class="container">
  <div class="row">
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <div class="h2">
            <!-- Имя автора -->
            Автор: {{author.get_full_name}}
          </div>
          <div class="h3 text-muted">
            <!-- username автора -->
            @{{author.username}}
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="h6 text-muted">
              Подписчиков: XXX <br>
              Подписан: XXX
            </div>
          </li>
          <li class="list-group-item">
            <div class="h6 text-muted">
              <!-- Количество записей -->
              Записей: {{posts_count}}
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!--<div class="col-md-9">
      &lt;!&ndash; Начало блока с отдельным постом &ndash;&gt;
      <div class="card mb-3 mt-1 shadow-sm">
        <div class="card-body">
          <p class="card-text">
            &lt;!&ndash; Ссылка на страницу автора в атрибуте href; username автора в тексте ссылки &ndash;&gt;
            <a href="/leo/">
              <strong class="d-block text-gray-dark">@leo</strong>
            </a>
            &lt;!&ndash; Текст поста &ndash;&gt;
            [Фокшаны.] Еще переходъ до Фокшанъ, во время котораго я ѣхалъ съ
            Монго. Человѣкъ пустой, но съ твердыми, хотя и ложными убѣжденіями.
            Генерал[у] по этому должно быть случаю, угодно было спрашивать о
            моемъ здоровьи. Свинья! К[о]вырялъ носъ и ничего не написалъ —
            вотъ 2 упрека за нын[ѣшній] день. Послѣдній упрекъ становится
            слишкомъ частъ, хотя походъ и можетъ служить въ немъ отчасти
            извиненіемъ. Отношенія мои съ товарищами становятся такъ пріятны,
            что мнѣ жалко бросить штабъ. Здоровье кажется (2) лучше.
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group ">
              &lt;!&ndash; Ссылка на страницу записи в атрибуте href&ndash;&gt;
              <a class="btn btn-sm text-muted" href="/leo/37/" role="button">
                Добавить комментарий
              </a>
              &lt;!&ndash; Ссылка на редактирование, показывается только автору записи.
                Эту ссылку вы подключите в финальном задании спринта &ndash;&gt;
              <a class="btn btn-sm text-muted" href="/leo/37/edit" role="button">
                Редактировать
              </a>
            </div>
            &lt;!&ndash; Дата публикации  &ndash;&gt;
            <small class="text-muted">31 июля 1854 г.</small>
          </div>
        </div>
      </div>
      &lt;!&ndash; Конец блока с отдельным постом &ndash;&gt;
      &lt;!&ndash; Остальные посты &ndash;&gt;
      &lt;!&ndash; Здесь постраничная навигация паджинатора &ndash;&gt;
    </div>-->
     {% for post in page %}
    <h3>
        Автор: {{ post.author.get_full_name }}, Дата публикации: {{ post.pub_date|date:"d M Y" }}
    </h3>
    <p>{{ post.text|linebreaksbr }}</p>
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    {% include "paginator.html" %}
  </div>
</main>
{% endblock %}